{%extends "main/base.html"%}
{%block title%}
{{center.center_Name}}
{%endblock%}
{%block content%}
<a href="/centres/" style="text-decoration: none; color:black;">
<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="background-color:red; color:white">
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg></a>
<h1 style="color: #FFFFFF; text-align: center; padding:150px; background-image: url({{center.center_photo}});">{{center.center_Name}}</h1>
<p>{{center.center_desc}}</p>
<a href="{{center.center_link}}">Источник</a>
{%endblock%}