{%extends 'main/base.html'%}
{%block title%}Люди{%endblock%}
{%block content%}
<div class="row d-flex justify-content-center">
{%for human in famous_list%}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{human.famous_photo}}" alt="..." style="width:100%; height:10vw; object-fit:cover">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{human.famous_name}}</h5>
        <p class="card-text">{{human.famous_desc|slice:'64'}}...</p>
        <a href="{{human.famous_source}}">Читать</a>
      </div>
    </div>
  </div>
</div>
{%endfor%}
</div>
{%endblock%}