<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>НаукаМира | {%block title%}{%endblock%}</title>
</head>
<body>
<div class="container rounded">
    <nav class="navbar navbar-dark rounded navbar-expand-lg" style="background-color: #28A0A5; -webkit-box-shadow: 0px 4px 49px -18px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 4px 49px -18px rgba(34, 60, 80, 0.2);
box-shadow: 0px 4px 49px -18px rgba(34, 60, 80, 0.2);">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-weight:bold">НаукаМира</a>
            <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page" style="font-weight:bold">Главная</a></li>
                <li class="nav-item"><a href="/centres/" class="nav-link active" aria-current="page" style="font-weight:bold">Центры</a></li>
                <li class="nav-item"><a href="/people/" class="nav-link active" aria-current="page" style="font-weight:bold">Люди</a></li>
                <li class="nav-item"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdWuODSNaeJuaHbB7Hi390o35zONrN73iEC6Y9WWv3gyXZqkQ/viewform?usp=sf_link" class="nav-link active" aria-current="page" style="font-weight:bold">Проверь Себя</a></li>

            </ul>
                <form class="d-flex" action="{% url 'posts_list' %}">
        <input class="form-control me-2" type="search" placeholder="Поиск по статьям" aria-label="Поиск" name="search">
        <button class="btn btn-success" type="submit">Поиск</button>
      </form>
            </div>
        </div>
    </nav>
    <div class="container" style="width: 98%; -webkit-box-shadow: 0px 1px 45px 16px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 1px 45px 16px rgba(34, 60, 80, 0.2);
box-shadow: 0px 1px 45px 16px rgba(34, 60, 80, 0.2); height: 100%; padding-bottom:50px; padding-top:50px">
        <div class="container">
    {%block content%}
    {%endblock%}
        </div>
    </div>
</div>
</body>
<footer style="padding-top:50px;" class="container fixed-bottom">
    <nav class="navbar sticky-bottom navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse justify-content-md-end" id="navbarCollapse">
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="navbar-item">
              <a>Created by LostDot©</a>
          </li>
        </ul>
      </div>
    </nav>
</footer>
</html>